.navbar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: end;
}

.navbar button {
  margin-top: 2rem;
  font-size: 1.25em;
  line-height: 0.9;
  font-family: "Abril Fatface", serif;
  font-weight: 600;
  background-color: inherit;
  border: none;
}
.navName {
  margin-top: 2rem;
  font-size: 1.25em;
  line-height: 0.9;
  font-family: "Abril Fatface", serif;
  font-weight: 600;
  display: inline;
}

.logo-text {
  display: inline;
}
